{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container container-with-background">
    <div class="row mb-5">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>

            <p class="big">{% blocktrans %}Welcome back to the Burger Joint! <br> To create reservations or manage your bookings at the Burger Joint, please create an account.<br> Do you already have an account?<br> Then please <a
                    class="link" href="{{ login_url }}">Sign In</a> instead.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %} &raquo;</button>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}