{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container mt-4 text-center">
    <h1 class="mb-4 text-white">Update Burger Joint Reservation</h1>

    <div class="mb-4">
        <h2 class="text-white">Edit Booking</h2>
        <div class="row justify-content-center">
            <form method="POST" class="form text-white col-sm-5">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mb-3 form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Update Booking</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}