{% extends "base.html" %}

{% block content %}

<!-- Carousel -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697976144/Project%201/Screenshot_2023-10-22_at_1.01.44_PM_aahehc.png"
                alt="Slide 1">
            <div class="carousel-caption">
                <h3>Delicious Fast Food</h3>
                <p>Enjoy a wide variety of grilled sandwiches and burgers</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697976168/Project%201/Screenshot_2023-10-22_at_1.01.57_PM_xlewyc.png"
                alt="Slide 2">
            <div class="carousel-caption">
                <h3>Quality Burgers</h3>
                <p>Over a dozen of different charred grilled burgers to choose from</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697976189/Project%201/Screenshot_2023-10-22_at_1.01.11_PM_itang0.png"
                alt="Slide 3">
            <div class="carousel-caption">
                <h3>Healthy Options</h3>
                <p>Vegan friendly with a multitude of salads & tofoo burgers</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<!-- End of Carousel -->

<!--Jumbotron To Book-->
<div class="container my-5">
    <div class="position-relative p-1 text-center text-muted bg-warning border border-dashed rounded-5">
      <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"/></svg>
      
      <h1 class="text-body-emphasis">!!! WARNING !!!</h1>
      <h4 class="col-lg-6 mx-auto mb-4 white-text">
        The Burger Joint is one of the hottest burger joints in town which means our indoor seating is at full capacity most of the time.  To gurantee yourself a table during a visit, please reserve your table in advance.
      </h4>
      <button class="btn btn-primary px-5 mb-5" type="button" onclick="window.location.href='booktable';">
        Book Table
      </button>
    </div>
</div>

<!-- Menu -->
<div class="container" id="menu">
    <h1 id="menu-title">Burger Joint Menu</h1>

<div class="btn-group d-none d-md-block">
    <button class="btn btn-primary filter" data-filter="all">All Items</button>
    <button class="btn btn-primary filter" data-filter="burgers">Burgers</button>
    <button class="btn btn-primary filter" data-filter="sandwiches">Sandwiches</button>
    <button class="btn btn-primary filter" data-filter="vegan">Vegan</button>
    <button class="btn btn-primary filter" data-filter="sides">Sides</button>
</div>

<div class="dropdown d-md-none">
    <button class="btn btn-primary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Items
    </button>
    <div class="dropdown-menu" aria-labelledby="filterDropdown">
        <a class="dropdown-item filter" data-filter="all">All Items</a>
        <a class="dropdown-item filter" data-filter="burgers">Burgers</a>
        <a class="dropdown-item filter" data-filter="sandwiches">Sandwiches</a>
        <a class="dropdown-item filter" data-filter="vegan">Vegan</a>
        <a class="dropdown-item filter" data-filter="sides">Sides</a>
    </div>
</div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col menu-item all burgers">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974498/Project%201/Screenshot_2023-10-22_at_12.34.28_PM_b66rln.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Burger 1">
                <div class="card-body">
                    <h3 class="card-text">CHARBURGER WITH CHEESE</h3>
                    <p class="card-text">Our award-winning burger topped with caramelized onions, crisp lettuce, fresh
                        tomato, pickles, mayo and cheese on a toasted bun.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$10.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all burgers">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974592/Project%201/Screenshot_2023-10-22_at_12.36.14_PM_efd6xz.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Burger 2">
                <div class="card-body">
                    <h3 class="card-text">CHARBURGER</h3>
                    <p class="card-text">Our award-winning burger topped with caramelized onions, crisp lettuce, fresh
                        tomato, pickles, mayo and cheese on a toasted bun.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$7.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all burgers">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974651/Project%201/Screenshot_2023-10-22_at_12.37.13_PM_eubote.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Burger 3">
                <div class="card-body">
                    <h3 class="card-text">DOUBLE CHAR WITH CHEESE</h3>
                    <p class="card-text">Two freshly chargrilled beef patties, caramelized onions, crisp lettuce, fresh
                        tomato, pickles, mayo, and cheese on a toasted bun.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$4.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all burgers">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974708/Project%201/Screenshot_2023-10-22_at_12.38.12_PM_pnmgbl.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Burger 4">
                <div class="card-body">
                    <h3 class="card-text">BBQ CHAR WITH CHEESE</h3>
                    <p class="card-text">Freshly chargrilled beef patty, hickory-smoked bacon, caramelized onions, crisp
                        lettuce, fresh tomato, mayo, and cheese on a toasted bun.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$11.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all burgers">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974766/Project%201/Screenshot_2023-10-22_at_12.39.03_PM_fkuvsp.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Burger 5">
                <div class="card-body">
                    <h3 class="card-text">PORTABELLA CHAR</h3>
                    <p class="card-text">Freshly chargrilled beef patty, Portabella mushrooms, caramelized onions,
                        melted White American cheese, pickle, and roasted garlic aioli on a toasted bun</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$6.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all burgers">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974822/Project%201/Screenshot_2023-10-22_at_12.40.05_PM_cx2bq3.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Burger 6">
                <div class="card-body">
                    <h3 class="card-text">TERIYAKI CHAR</h3>
                    <p class="card-text">Freshly chargrilled beef patty, grilled pineapple, teriyaki sauce, caramelized
                        onions, crisp lettuce, fresh tomato, pickle, and mayo on a toasted bun.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$15.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sandwiches">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974882/Project%201/Screenshot_2023-10-22_at_12.41.04_PM_clvlvz.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sandwich 1">
                <div class="card-body">
                    <h3 class="card-text">GRILLED CHICKEN-WICH</h3>
                    <p class="card-text">Hand-filleted marinated chicken breast, melted cheese, crisp shredded lettuce,
                        fresh tomatoes, mayo, and your choice of BBQ or teriyaki sauce.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$12.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sandwiches">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697974939/Project%201/Screenshot_2023-10-22_at_12.42.00_PM_wjb2f3.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sandwich 2">
                <div class="card-body">
                    <h3 class="card-text">SPICY CRISPY CHICKEN</h3>
                    <p class="card-text">All-natural chicken breast double breaded in our signature spices. It comes
                        with your choice of BBQ or teriyaki sauce.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$11.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sandwiches">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975007/Project%201/Screenshot_2023-10-22_at_12.43.06_PM_sc34ss.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sandwich 3">
                <div class="card-body">
                    <h3 class="card-text">CHICKEN CLUB</h3>
                    <p class="card-text">Hand-filleted marinated chicken breast, green leaf lettuce, tomatoes,
                        hickory-smoked bacon, fresh avocado, and mayo, served on toasted sourdough.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$11.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sandwiches">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975058/Project%201/Screenshot_2023-10-22_at_12.44.00_PM_iygxud.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sandwich 4">
                <div class="card-body">
                    <h3 class="card-text">AHI TUNA FILET</h3>
                    <p class="card-text">Line-caught, sushi-grade tuna steak with a teriyaki glaze, crisp shredded
                        lettuce, fresh tomatoes, and tartar sauce.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$11.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all vegan">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975107/Project%201/Screenshot_2023-10-22_at_12.44.48_PM_nqrev2.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="vegan 1">
                <div class="card-body">
                    <h3 class="card-text">VEGGIE BURGER</h3>
                    <p class="card-text">Vegan veggie patty on a toasted wheat bun, green leaf lettuce, fresh tomatoes,
                        and cucumbers, with sweet mustard dressing, cheese and onions.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$2.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all vegan">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975157/Project%201/Screenshot_2023-10-22_at_12.45.38_PM_zjunl2.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="vegan 2">
                <div class="card-body">
                    <h3 class="card-text">VEGGIE CHEESE BURGER</h3>
                    <p class="card-text">Vegan veggie patty on a toasted wheat bun, green leaf lettuce, fresh tomatoes,
                        and cucumbers, with sweet mustard dressing, and onions.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$1.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all vegan">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975220/Project%201/Screenshot_2023-10-22_at_12.46.42_PM_xqd6i2.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="vegan 3">
                <div class="card-body">
                    <h3 class="card-text">CHICKEN CAESAR</h3>
                    <p class="card-text">Chopped Romaine tossed in our Caesar dressing, croutons, fresh Parmesan and
                        topped with grilled chicken breast.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$1.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all vegan">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975274/Project%201/Screenshot_2023-10-22_at_12.47.34_PM_ehy3es.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="vegan 4">
                <div class="card-body">
                    <h3 class="card-text">GARDEN SALAD</h3>
                    <p class="card-text">Romaine, iceberg, green and red leaf lettuce, red cabbage, Roma tomatoes,
                        cucumbers, red onions, carrots and croutons.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$1.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sides">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975325/Project%201/Screenshot_2023-10-22_at_12.48.27_PM_pog0ad.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sides 1">
                <div class="card-body">
                    <h3 class="card-text">10 PCS CRISPY</h3>
                    <p class="card-text">All-natural chicken double breaded in our signature spices served with your
                        choice of sauce. Alternative sauces are available.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$3.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sides">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975370/Project%201/Screenshot_2023-10-22_at_12.49.12_PM_zlefeu.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sides 2">
                <div class="card-body">
                    <h3 class="card-text">FRENCH FRIES</h3>
                    <p class="card-text">Includes ketchup on the side. Other sauces available are teriaki, barbeque,
                        wasabi, soy sauce and many others.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$3.99</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col menu-item all sides">
            <div class="card shadow-sm">
                <img src="https://res.cloudinary.com/dugcwv1mf/image/upload/v1697975421/Project%201/Screenshot_2023-10-22_at_12.50.04_PM_psushp.png"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" alt="sides 3">
                <div class="card-body">
                    <h3 class="card-text">ONION RINGS</h3>
                    <p class="card-text">Includes side of Ranch dressing. Other sauces available are teriaki, barbeque,
                        wasabi, soy sauce and many others.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">$3.99</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Table Booking CTA-->

    <div class="p-5 mb-4 bg-body-tertiary rounded-3 mx-4 mx-md-5 banner">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Want To Skip The Line? </h1>
            <p class="col-md-8 fs-4">The Burger Joint is one of the hottest burger joints in town which means our indoor
                seating is contantly packed. If you don't want to do take out and make sure you can eat indoors, we
                highly recommend you book a table in advance!
            </p>
            <button class="btn btn-primary btn-lg" type="button" onclick="window.location.href='booktable';">Book Table</button>
        </div>
    </div>



{%endblock%}